<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>MyMindV3</string>
	<key>CFBundleIdentifier</key>
	<string>uk.nhs.nelft.mymindv3</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleShortVersionString</key>
	<string>0.22</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Monitoring and notification of upcoming clinical appintments</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Storing and viewing resource images downloaded</string>
	<key>NSCameraUsageDescription</key>
	<string>Video chat between yourself and clinician, taking and uploading your profile image</string>
	<key>XSAppIconAssets</key>
	<string>Resources/AppIcons.xcassets/AppIcon.appiconset</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleName</key>
	<string>MyMindV3</string>
	<key>Custom PropertyNSLocationWhenInUseUsageDescription</key>
	<string>Accessing the users location while they are interacting with your app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Accesses the users location in the background</string>
	<key>Custom Property</key>
	<string>Monitoring and notification of upcoming clinical appintments</string>
	<key>Custom Property1</key>
	<string>Storing and viewing resource images downloaded</string>
	<key>Custom Property2</key>
	<string>Video chat between yourself and clinician, taking and uploading your profile image</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/AppIcons.xcassets/LaunchImage.launchimage</string>
</dict>
</plist>
